*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: -apple-system, "system-ui", "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

h1 {
    margin-bottom: 5px;
}

h3 {
    margin: 5px 0
}

body {
    margin: auto;
    max-width: 1248px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #eee;
    color: #222;
    overflow-x: hidden;
}

body.dark {
    background-color: #272e37;
    color: #eee;
}

#theme {
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border: none;
    background-color: #ccc;
    border-radius: 5px;
    padding: 5px 10px;
}

#theme:hover {
    background-color: #aaa;
}

.dark #theme {
    background-color: #555;
}

h1,
h3 {
    text-align: center;
}

#myTable {
    height: 500px;
    width: 100%;
}

#loading {
    font-size: larger;
    text-align: center;
    width: 100%;
    margin: 20px;
}

#chart-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px;

    max-height: 0px;
    overflow: hidden;
    transition: all 0.5s ease;
}

#chart-container canvas {
    height: 350px !important;
    margin: 5px !important;
}

@media only screen and (max-width: 600px) {
    #chart-container {
        pointer-events: none;
    }
}

#show-chart-btn {
    display: none;
}

#agChart {
    min-width: min(700px, 100vw);
}

#sumaryTable {
    text-align: right;
}

#sumaryTable td {
    padding-right: 10px;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.dark a {
    color: yellow;
}

.ag-cell-value {
    line-height: 20px !important;
    word-break: normal;
    /* prevent words from breaking */
    padding-top: 5px;
    /* space top */
    padding-bottom: 5px;
    /* space bottom */
}

.table-container {
    width: 100%;
    overflow-x: auto;
    padding-bottom: 50px;
}

.table-container table {
    min-width: 1248px;
}

.ag-chart-wrapper {
    max-width: 600px;
}

#data-select-container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

select {
    padding: 0.675em 6em 0.675em 1em;
    border-radius: 0.25rem;
    margin: 5px;
}

body.dark select {
    background-color: #333;
    color: #eee;
}

input[type="checkbox"] {
    margin: 0 5px;
    padding: 5px;
}

.bank-filter-container {
    padding: 10px;
    font-size: 12px;
}

.bank-filter-item {
    padding: 5px;
    display: block;
    cursor: pointer;
}

.bank-filter-item:hover {
    background-color: #2225;
}

/* https://getcssscan.com/css-buttons-examples */
.button {
    appearance: none;
    background-color: #FAFBFC99;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}

.button:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
}

.button:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
}

.button:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

.button:focus {
    outline: 1px transparent;
}

.button:before {
    display: none;
}

.button:-webkit-details-marker {
    display: none;
}
